{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'polls:index' %}">Gig Finder Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gigFinder:userIndex' %}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gigFinder:jobIndex' %}">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log out</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
        <span class="navbar-text">Welcome back, <strong>{{ user.username }}</strong></span>
      {% endif %}
    </div>    
</nav>
{% endblock %}