.page-link {
    color: #212529
}

.page-item.active 
.page-link{
    background-color: #212529;
    border-color: #212529;
}

form {
    padding: 15px;
    margin: auto;
    max-width: 100%;
    width: 420px;
}